body {
   
    font-family: 'Roboto', 'Raleway' , 'Oleo Script' ;
    font-weight 400px;
    background-color: var(--mainwhite);
    text-decoration: none;
    font-style: normal;
    color:var(--mainblack)

}

*,
*::before,
*::after {
    
    margin: 0px;
    padding: 0px;
   list-style: none;
   text-decoration: none;
}
button {
    cursor: pointer;
}
h2{
    margin: 0px;
    padding: 0px;
}
img{
    display: block;
}
:root {
    --mainblack: #212121;
    --mainblue: #2196F3;
    --mainwhite: #FFFFFF;
    --maingrate: #757575;
    --mainborder-card:#EEEEEE;
    --2black: #2F303A;
    --2gray: #ECECEC;
    --3gray: #F5F4FA;
}

.conteiner{
margin-left: auto;
margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 4px solid red;
    
}

/*Header with design*/

/*Logo*/

.word-first {
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    font-style: normal;
    color: var(--mainblue);
    text-decoration: none;
    font-style: normal;
}

.word-second {
    font-family: Oleo Script;
    font-size: 26px;
font-style: normal;
    line-height: 1.38;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--mainblack);
    text-decoration: none;
font-style: normal;
}
    /*hover for link*/
    .navstudio:hover,
    .navstudio:focus,
    .navemail:hover,
    .navemail:focus{
        color:var(--mainblue)
    }
    /*fLEX FOR LIST-NAV*/
.nav-list,
.navlist-first,
.navlist-second
{
display: flex;
align-items: center;
}
/*.navlist-first>li{
margin-right: 50px;
}*/
.navlist-first{
    margin-left: 93px;
}
.navlist-second{
    margin-left: auto;
}
li>.navstudio,
li>.navportfolio,
li>.navcont{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navlist-first li:not(:last-child){
margin-right: 50px;
}

/*
.navlist-second li:not(:last-child){
     margin-right: 50px;
}*/
.navlist-second .item + .item{
    margin-left: 50px;
}
    .navstudio,.navportfolio,.navcont,.navemail{
        
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;
            letter-spacing: 0.02em;
            color: var(--mainblack);
            font-style: normal;
            text-decoration: none;
    }
    .nav-head,
    .navfhone-header,
    .navemail{
text-decoration: none;
font-style: normal;
        color: var(--maingrate);
    }
        /*hover for link*/
        .navstudio:hover,
        .navstudio:focus,
        .navemail:hover,
        .navemail:focus,
        .navportfolio:hover,
        .navportfolio:focus {
            color: var(--mainblue)
        }
        .navlist-second{
          padding: 0px;
        }
        /*hero*/
        /*hero-title*/
        .hero{
            background-color: var(--2black);
            text-align: center;
            padding-top: 200px;
            padding-bottom: 200px;
            }
        
         .hero-title{
         margin-top: 0px;
         margin-bottom: 30px;
             font-size: 44px;
             font-weight: 900;
             line-height: 1.36;
             letter-spacing: 0.06em;
             color: var(--mainwhite);}
               
/*button for hero*/

.button-hero{ 
    display: inline-block;
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 130px;
     background-color: var(--mainblue);
     color: var(--mainwhite);
     font-size: 16px;
     font-weight: 700;
     line-height: 1.38;
     letter-spacing: 0.06em;
     text-decoration: none;
     text-align: center;
     

}


/*advantages*/
.advantages-list{
    display: flex;

    }
.advantages-list li:not(:first-child) {
    margin-left: 30px;
}
.advantages{
padding-top: 94px;
}
.advantages-head{
    margin-bottom: 10px;
}
/*activity*/


.activity-list{
    display: flex;
    
}
/*.activity-list-item{
    width: calc((100% - 60px) / 3);
}*/
.activity-list li:not(:first-child){
margin-left: 30px;
}


.actvity-head {
    margin-bottom: 50px;
    text-align: center;

}
.activity{
padding-top: 94px;

}
/*our team*/

.our-team{
padding-top: 94px;
padding-bottom: 94px;
background-color: var(--2gray);
}
.team-head{
   margin-bottom: 50px;
   text-align: center;
}

.list-team-picture{
    display: flex;
 
    }
.team-text:not(:first-child) {
    margin-left: 30px;}
    /*
    .team-text .team-content{
        width: calc((100%-90px)/4);
    }*/
    .team-title{
    padding-top: 30px;
    padding-bottom: 10px;
    
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.188;
    text-align: center;
    }
    .team-parag{
    color: var(--maingrate);
   margin-bottom: 16px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.188;
    text-align: center;
    }
.team-content {
    background-color: var(--mainwhite);
    border-bottom: ;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
}
.list-social{
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 30px;

}
.link-social>img{
    width: 44px;
    
}
.item:not(:last-child) {
    margin-right: 10px;
}

    /*Footer*/
   
       
   .foot-main{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
    align-items: baseline;
   }
   .foot-nav{
    margin-right: 70px;
    margin-left: 215px;
   }
   .par-foot{
    color: var(--mainwhite);
    margin-bottom: 20px;
    text-transform:uppercase;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.142;
    letter-spacing: 0.03em;
    text-align: left;
   }
   .list-foot{
    display: flex;
   }
   

    .nav-head-foot{
        margin-top: 60px;
        margin-bottom: 20px;
    
        text-decoration: none;
        font-style: normal;
    }

    .footlink,
    .email-foot{
        margin-bottom: 9px;
        display: inline-block;
        
    }
    .fhone-foot{
        display: inline-block;
        
    }
    .downfoot{
        
        background-color:var(--2black);
        font-style: normal;
        text-decoration: none;
           }
 
    /*Logo footer*/
   
   
        .inversion {
                  color: var(--mainwhite);
         
                }

                /*link footer*/
 .footlink:hover,
 .footlink:focus{
color: var(--mainblue);  }
.adress-footer{
   font-style: normal;
}

.footlink{
  font-size: 14px;
 line-height: 1.71;
 letter-spacing: 0.03em;
color: var(--mainwhite);
text-decoration: none;
  }
   .email-foot,.fhone-foot{
color: var(--maingrate);
    font-size: 14px;
    line-height:1.714;
    letter-spacing: 0.03em;
                       }
   
/*PORTFOLIO*/

.button-list-all,
.button-list-web,
.button-list-design,
.button-list-mark {
display: inline-block;
background-color: var(--3gray);
color: var(--mainblack);
border-radius: 4px;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.625;
letter-spacing: 0.03em;
text-align: center;
padding: 6px 22px;
border: 1px solid var(--maingrate);
}

.button-list-all:hover,
.button-list-all:focus{
    color: var(--mainwhite);
    background-color: #2196F3;
}
.button-list{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 94px;
    padding-bottom: 50px;

}
.button-list li:not(:first-child){
    margin-left: 8px;
}
.card-list{
    display: flex;
    flex-wrap: wrap;

}
 .card-item{
    margin-right: 30px;
    margin-bottom: 30px;
}

.card-item:nth-child(3n){
    margin-right: 0px;
}
.card-item:nth-last-child(-n+3){
    margin-bottom: 0px;
    padding-bottom: 94px;
}
.cards-content > h2{
color: var(--mainblack);
font-style: bold;
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height:2;
letter-spacing: 0.06em;
padding-bottom: 4px;

}
.cards-content p{
color: var(--maingrate);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height:1.875;
letter-spacing: 0.03em;
    
}
div >.cards-content{
    padding: 20px 24px;

    border-right-width: 1px;
    border-right-style: solid;
    border-right-color:var(--mainborder-card);

  
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--mainborder-card);

    
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: var(--mainborder-card);
}